body{
  font-family: 'Georgia';
  font-size: 1em;
}

/* Primary Color : #A82931 */

.section-titles
{
	font-size: 20px;
	color: #A82931; 
	text-align: left; 
	font-family: Georgia; 
	margin-left: 15px;
}

hr 
{ 
	border-top: 2px solid #a82931;
}
