div.header {
    font-family: 'Colaborate Light','Lucida Sans Unicode',sans-serif;
    color: #A82931;
    text-align: center; 
    width: 100%;
    padding-bottom: 25px;
}

img {
    padding: 5px;
    width: 30px;
    height: 30px;
    float: right;
    
    
}

div.tab {

    text-align: center;
    text-decoration: none;
    background-color:  #A82931;
    word-spacing: 6em;
    width: 100%;
    height: 20px;
}

ul li  {
    display: inline;
    text-transform: uppercase;
    font: 1.07em 'Colaborate Light','Lucida Sans Unicode',sans-serif;
}

a:visited {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}