.header 
{
	width: 100%;
}

.today-wrapper 
{
	width: 60%;
}

.section-titles
{
	font-size: 20px;
	color: #A82931; 
	text-align: left; 
	font-family: Georgia; 
	margin-left: 15px;
}

hr 
{ 
	border-top: 2px solid #a82931;
	margin-top: 5px; 
	
}

.today-titles 
{
    font-family: Colaborate;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.today-body 
{
	width: 25%;
	margin-left: 8%; 
    padding-top: 15px;
    display: block;
	float: left;
	font-size: 15px;
}

.weather 
{
	width: 30%;
	margin-left: 4%; 
    padding-top: 15px;
    display: block;
	float: left;
	font-size: 15px;
}
